Rules

1. x='[a,b,c]' ---> either a,b or c
2. x='[^a,b,c]' ---> except a,b or c
3. x='[a-z]'  ---> a to z
4. x='[A-Z]' ----> A TO Z
5. x='[a-zA-Z]' ---->a to z and A to Z
6. x='[\s]' ---> check space
7. x='[^a-zA-Z0-9]' ---> checking for special symbols
8. x='[\d]' ---> check for digits
9. x='[\D]' ---> not digit
10. x='[\w]' ---> all words except special charecters
11. x='[\W]' ---> special charecters


quantifiers

1. x='a+'   a including group
2. x='a*'   count including zero number of a
3. x='a?'   count a as each including zero no of a
4. x='a{2}'     2 no of a position
5. x='a{2,3}'   minimum 2 a and 3 a maximum
6. x='^a'   check starting with a
7. x='a$'   check ending with a